@import './mixin.sass'
@import './variable.sass'
@import './animate.sass'

// layout
.x-main
  @include wh(100%,100%)
  @include flex($dire:column)

  .x-container
    @include flex($flex:1 0 auto)

  .x-navbar
    z-index: 999
    background: transparent
    transition: all 0.5s ease
    @include wh(100%,60px)
    @include flex($just:space-between)
    .x-navbar-logo
      font-size: 2rem
      font-family: Yesteryear
      white-space: nowrap
      cursor: pointer
      @include flex
      @include wh(300px,60px)

    .x-navbar-items
      font-size: 0.9em
      font-family: Yatra-One
      @include wh(100%,100%)
      @include flex($just:flex-end)
      .x-navbar-item
        color: $text
        white-space: nowrap
        cursor: pointer
        padding: 0 20px
        &:hover
          color: $text-hover

  .x-footer
    font-family: Yatra-One
    @include wh(100%,50px)
    @include flex($dire:column)

//home 首页
.x-banner
  margin-top: -60px
  background-color: $background
  @include flex
  .x-banner-imgs
    padding: 5em 4em
    @include flex($wrap:wrap)
    .x-banner-img
      width: 400px
      height: 314.29px
    .x-img-1
      background: url('../../assets/images/girl-looking.png') no-repeat center
    .x-img-2
      background: url('../../assets/images/girl-playing-tennis.png') no-repeat center
    .x-img-3
      background: url('../../assets/images/girl-riding-scooter.png') no-repeat center
    .x-img-4
      background: url('../../assets/images/girl-walking-with-pet.png') no-repeat center
    .x-img-5
      background: url('../../assets/images/girl-with-plant.png') no-repeat center
    .x-img-6
      background: url('../../assets/images/lady-employee-working.png')
